# 제외 폴더
processed_data/*
experiments/*

mat_preprocess/mat/*
mat_preprocess/mat_check/*
mat_preprocess/mat_txt/*

mat_viz/results/*

# 제외 확장자
*.mat

# Ignore PDF files only at repository root (Collision_sim/)
/*.pdf
/*.PDF
